<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
<div class="container">
  <div class="box-info">
    <div class="box-info-address">
      <span>
        <img class="icon-map" src="assets/images/ic_new_location.png" />425 N Mapple Driver, New york NY 555555</span>
    </div>
    <div class="box-info-direction">
      Get Direction
    </div>

  </div>
  <div class="row box-attraction">
    <div class="col-4 item p-0">
      <img src="assets/images/ic_map_attraction_one.png" />
      <p>Beverly hills</p>
    </div>
    <div class="col-4 item p-0">
      <img src="assets/images/ic_map_attraction_two.png" />
      <p>Wilshire & robertson</p>
    </div>
    <div class="col-4 item p-0">
      <img src="assets/images/ic_map_attraction_three.png" />
      <p>Sunshine springs</p>
    </div>
  </div>
  <div class="row box-near-by">
    <div class="col-7">
      <span class="box-near-by-header">Nearby Schools</span>
      Country Isles Elementary
      <br /> Indian Ridge Middle
      <br /> Western High
      <br />
    </div>
    <div class="col-2">
      <span class="box-near-by-header">Grades</span>
      K-5
      <br /> 6-8
      <br /> 9-12
      <br />
    </div>
    <div class="col-3">
      <span class="box-near-by-header">Distance</span>
      0.3 miles
      <br /> 0.8 miles
      <br /> 2 miles
      <br />
    </div>
  </div>
</div>
<div class="schedule-footer">
  <h3>open house mon, Jun 12 at 3:00 PM</h3>
</div>