.box-info {
  margin-top: 10px;
  padding: 10px;
  color: #eeeeee;
  font-size: 80%;
  .box-info-address {
    text-align: center;
    .icon-map {
      margin-right: 5px;
      height: 20px;
    }
  }
  .box-first {
    text-transform: uppercase;
    border-bottom: 1px gray solid;
  }
  .item {
    display: flex;
    justify-content: center;
  }
}
.box-gallery {
  .item {
    padding: 5px;
    text-align: center;
  }
  .image-gallery {
   width: 80%;

  }
}
.gallery-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  .btn-close {
    float: left;
    margin: 20px;
    font-size: 140%;
  }
  .gallery-slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  .gallery-slider {
    padding: 10px;
  }
}