<div class="container">
  <div class="box-info">
    <div class="box-info-address">
      <span>
        <img class="icon-map" src="assets/images/ic_location_black.png" />425 N Mapple Driver, New york NY 555555</span>
    </div>
    <div class="row box-first">
      <div class="col-3 item p-2">
        $699,000
      </div>
      <div class="col-3 item p-2">
        <span>3 BED</span>
      </div>
      <div class="col-3 item p-2">
        2 BATH
      </div>
      <div class="col-3 item p-2">
        2,276 SQ/FT
      </div>
    </div>
  </div>
  <div class="row box-gallery">
    <div class="col-6 item" *ngFor="let image of images; let index = index">
      <img class="img-fluid" src={{image}} (click)="showGalerry = true; imageGalleryIndex = index" />
    </div>
  </div>
  <div class="gallery-container" [ngClass]="{'d-none': !showGalerry}">
    <div class="clearfix">
      <button type="button" class="close text-white btn-close" aria-label="Close" (click)="showGalerry = false">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="gallery-slider-container">
      <carousel [interval]="myInterval" class="gallery-slider" [(activeSlide)]="imageGalleryIndex">
        <slide *ngFor="let image of images">
          <img src={{image}} alt="Slide Image" style="display: block; width: 98%;">
        </slide>
      </carousel>
    </div>
  </div>
</div>