<div class="container">
  <div class="box-info">
    <div class="box-info-address">
      <span>
        <img class="icon-map" src="assets/images/ic_location_black.png" />425 N Mapple Driver, New york NY 555555</span>
    </div>
    <div class="row box-first">
      <div class="col-3 item p-2">
        $699,000
      </div>
      <div class="col-3 item p-2">
        <span>3 BED</span>
      </div>
      <div class="col-3 item p-2">
        2 BATH
      </div>
      <div class="col-3 item p-2">
        2,276 SQ/FT
      </div>
    </div>
  </div>
  <div class="row box-gallery">
    <div class="col-6 item">
      <img class="img-fluid" src="assets/images/one.jpg" />
    </div>
    <div class="col-6 item">
      <img class="img-fluid" src="assets/images/two.jpg" />
    </div>
    <div class="col-6 item">
      <img class="img-fluid" src="assets/images/three.jpg" />
    </div>
    <div class="col-6 item">
      <img class="img-fluid" src="assets/images/four.jpg" />
    </div>
    <div class="col-6 item">
      <img class="img-fluid" src="assets/images/five.jpg" />
    </div>
    <div class="col-6 item">
      <img class="img-fluid" src="assets/images/six.jpg" />
    </div>
  </div>
</div>