<img src="assets/images/big_house.jpg" alt="First slide" style="display: block; width: 100%; height: 200px;">
<div class="content-wrapper">
  <div class="box-price">
    <h4>$699,999</h4>
  </div>
  <div class="box-info">
    <div class="box-info-address">
      <span>
        <img class="icon-map" src="assets/images/ic_new_location.png" />425 N Mapple Driver, New york NY 555555</span>
    </div>
    <div class="box-info-feature">
      <div class="container">
        <div class="row">
          <div class="col-3 item p-2">
            <img src="assets/images/ic_house.png" /> SINGLE FAM.
          </div>
          <div class="col-3 item p-2">
            <img src="assets/images/ic_bed.png" /> 3 BED
          </div>
          <div class="col-3 item p-2">
            <img src="assets/images/ic_bath.png" />
            <span>2 BATH</span>
          </div>
          <div class="col-3 item p-2">
            <img src="assets/images/ic_features_square.png" />
            <span> 2,276 SQ/FT</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box-description">
    <h4>Desctiption</h4>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  </div>
</div>