<div class="container">
  <div class="box-info">
    <div class="box-info-address">
      <span>
        <img class="icon-map" src="assets/images/ic_location_black.png" />425 N Mapple Driver, New york NY 555555</span>
    </div>
    <div class="row box-first">
      <div class="col-3 item p-2">
        $699,000
      </div>
      <div class="col-3 item p-2">
        <span>3 BED</span>
      </div>
      <div class="col-3 item p-2">
        2 BATH
      </div>
      <div class="col-3 item p-2">
        2,276 SQ/FT
      </div>
    </div>
  </div>
  <div class="row box-attribute">
    <div class="col-4 item p-2">
      <img src="assets/images/ic_features_lot.png" />
      <div class="box-attribute-info">
        <span>
          year built
        </span>
        <span>1992</span>
      </div>

    </div>
    <div class="col-4 item p-2">
      <img src="assets/images/ic_features_lot.png" />
      <div class="box-attribute-info">
        <span>lot</span>
        <span>5,324SQFT</span>
      </div>
    </div>
    <div class="col-4 item p-2">
      <img src="assets/images/ic_features_lot.png" />
      <div class="box-attribute-info">
        <span>price/sqft</span>
        <span>$250</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      Flooring:
      <p>Lamintate</p>
    </div>
    <div class="col-6">
      Construction:
      <p>2 Stories</p>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      Heating:
      <p>Forced Air</p>
    </div>
    <div class="col-6">
      Cooling:
      <p>Central</p>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      Appliiances:
      <p>Dishwasher, Dryer
        <br/>Garbage Disposal
        <br/>Microwave
        <br/> Refrigerator, Washer</p>


    </div>
    <div class="col-6">
      Exterior:
      <p>Waterfront
        <br />Pool
        <br/>Lawn
        <br/> Balcony
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      Parking:
      <p>Garage - Attached 3 space</p>
    </div>
    <div class="col-6">
      Roof:
      <p>Tile</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      Other:
      <p>Security System, Fireplace, Sprinkler System, Fence, Cabana, Built-in Grill, Outdoor Kitchen.</p>
    </div>
  </div>
</div>