<div class="container">
  <app-header-general-info></app-header-general-info>
  <div class="row box-attribute">
    <div class="col-4 item">
      <img src="assets/images/ic_features_year.png" />
      <div class="box-attribute-info">
        <span>
          year built
        </span>
        <br/>
        <span class="box-attribute-info-value">1992</span>
      </div>

    </div>
    <div class="col-4 item">
      <img src="assets/images/ic_features_lot.png" />
      <div class="box-attribute-info">
        <span>lot</span>
        <br/>
        <span class="box-attribute-info-value">5,324SQFT</span>
      </div>
    </div>
    <div class="col-4 item">
      <img src="assets/images/ic_features_square.png" />
      <div class="box-attribute-info">
        <span>price/sqft</span>
        <br/>
        <span class="box-attribute-info-value">$250</span>
      </div>
    </div>
  </div>
  <div class="row row-feature">
    <div class="col-6">
      <span class="row-feature-title">Flooring:</span>
      <br/>
      <span class="row-feature-text">Laminate</span>
    </div>
    <div class="col-6">
      <strong>Construction:</strong>
      <br/>
      <span>2 Stories</span>
    </div>
  </div>
  <div class="row row-feature">
    <div class="col-6">
      <span class="row-feature-title">Heating:</span>
      <br/>
      <span class="row-feature-text">Forced Air</span>
    </div>
    <div class="col-6">
      <span class="row-feature-title">Cooling:</span>
      <br/>
      <span class="row-feature-text">Central</span>
    </div>
  </div>
  <div class="row row-feature">
    <div class="col-6">
      <span class="row-feature-title">Appliiances:</span>
      <br/>
      <span class="row-feature-text">Dishwasher, Dryer,</span>
      <br/>
      <span class="row-feature-text">Garbage, Disposal,</span>
      <br/>
      <span class="row-feature-text">Microwave,</span>
      <br/>
      <span class="row-feature-text">Refrigerator, Washer</span>
    </div>
    <div class="col-6">
      <span class="row-feature-title">Exterior:</span>
      <br/>
      <span class="row-feature-text">Waterfront</span>
      <br/>
      <span class="row-feature-text">Pool</span>
      <br/>
      <span class="row-feature-text">Lawn</span>
      <br/>
      <span class="row-feature-text">Balcony</span>
    </div>
  </div>
  <div class="row row-feature">
    <div class="col-6">
      <span class="row-feature-title">Parking:</span>
      <br/>
      <span class="row-feature-text">Garage - Attached 3 spaces</span>
    </div>
    <div class="col-6">
      <span class="row-feature-title">Roof:</span>
      <br/>
      <span class="row-feature-text">Tile</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      Other:
      <p>Security System, Fireplace, Sprinkler System, Fence, Cabana, Built-in Grill, Outdoor Kitchen.</p>
    </div>
  </div>
</div>
<div class="schedule-footer">
  <h3>open house mon, Jun 12 at 3:00 PM</h3>
</div>