<div class="container">
  <div class="box-info">
    <div class="box-info-address">
      <span>
        <img class="icon-map" src="assets/images/ic_location_black.png" />425 N Mapple Driver, New york NY 555555</span>
    </div>
    <div class="row box-first">
      <div class="col-3 item p-2">
        $699,000
      </div>
      <div class="col-3 item p-2">
        <span>3 BED</span>
      </div>
      <div class="col-3 item p-2">
        2 BATH
      </div>
      <div class="col-3 item p-2">
        2,276 SQ/FT
      </div>
    </div>
  </div>
  <div class="row box-attribute">
    <div class="col-4 item p-2">
      <img src="assets/images/ic_features_lot.png" />
      <div class="box-attribute-info">
        <span>
          year built
        </span>
        <span>1992</span>
      </div>

    </div>
    <div class="col-4 item p-2">
      <img src="assets/images/ic_features_lot.png" />
      <div class="box-attribute-info">
        <span>lot</span>
        <span>5,324SQFT</span>
      </div>
    </div>
    <div class="col-4 item p-2">
      <img src="assets/images/ic_features_lot.png" />
      <div class="box-attribute-info">
        <span>price/sqft</span>
        <span>$250</span>
      </div>
    </div>
  </div>
  <div class="row row-feature">
    <div class="col-6">
      <strong>Flooring:</strong>
      <br/>
      <span>Lamintate</span>
    </div>
    <div class="col-6">
      <strong>Construction:</strong>
      <br/>
      <span>2 Stories</span>
    </div>
  </div>
  <div class="row row-feature">
    <div class="col-6">
      <strong>Heating:</strong>
      <br/>
      <span>Forced Air</span>
    </div>
    <div class="col-6">
      <span>Cooling:</span>
      <br/>
      <span>Central</span>
    </div>
  </div>
  <div class="row row-feature">
    <div class="col-6">
      <strong>Appliiances:</strong>
      <br/>
      <span>Dishwasher, Dryer</span>
      <br/>
      <span>Garbage Disposal</span>
      <br/>
      <span>Microwave</span>
      <br/>
      <span>Refrigerator, Washer</span>
    </div>
    <div class="col-6">
      <strong>Exterior:</strong>
      <br/>
      <span>Waterfront</span>
      <span>Pool</span>
      <span>Lawn</span>
      <span>Balcony</span>
    </div>
  </div>
  <div class="row row-feature">
    <div class="col-6">
      <strong>Parking:</strong>
      <br/>
      <span>Garage - Attached 3 space</span>
    </div>
    <div class="col-6">
      <span>Roof:</span>
      <br/>
      <span>Tile</span>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-12">
      Other:
      <p>Security System, Fireplace, Sprinkler System, Fence, Cabana, Built-in Grill, Outdoor Kitchen.</p>
    </div>
  </div> -->
</div>
<div class="schedule-footer">
  <h3>open house mon, Jun 12 at 3:00 PM</h3>
</div>