// Variable color
$colorPrimary: #ffffff;
$colorPrimaryDark: #b0b0b0;
$colorAccent: #fa3785;
$color_5c5c5c: #5c5c5c;
$color_5c5c5c_70percdnt: rgba(91, 91, 91, 0.7);
$color_5c5c5c_60percdnt: #995c5c;
$color_5c5c5c_50percdnt: #805c5c;
$color_5c5c5c_36percdnt: #5a5c5c;
$color_e4e1e1: #e4e1e1;
$color_fafafa: #fafafa;
$color_dadada: #dadada;
$black: #000000;
$app_background: #ff2b3151;
$edit_text_bg: #f1f0ff;
$main_text: #eeeeee;
$main_transparent: rgba(238, 238, 238, 0.7);
$main_transparent_50: #80eeee;
$back_btn: #697098;

// Variable dimension
$height_header: 80px;
$height_footer: 50px;
$height_screen_used : $height_footer + $height_header;

