.container-app {
  padding-top: 80px;
  padding-bottom: 70px;
  .container-header {
    background-color: #eeeeee;
  }
}
.container-header{
  padding: 10px;
  height: 80px;
  text-align: center;
  color: #697098;
}
.tab-menu {
  .col-3 {
    font-family: 'Avenirheavy';
    margin-bottom: 5px;
  }
}
.fixed-bottom .schedule-footer {
  color: #eeeeee;
  h3 {
    text-transform: uppercase;
    font-family: 'Avenirheavy';
    font-size: 95%;
    text-align: center;
  }
}
.container-footer {
  padding: 10px;
  padding-left: 20px;
  text-transform: uppercase;
  background-color: #eeeeee;
  height: 50px;

  img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }
}
