<div class="d-md-none container-app">
  <div class="container-header fixed-top">
    <div (click)="activeTab = 0">
      <h3>
        425 Mapple
      </h3>
    </div>
    <div class="row tab-menu">
      <div class="col-3" [ngClass]="{'activeTab': activeTab === 1}" (click)="activeTab = 1">
        <span>Photos</span>
      </div>
      <div class="col-3" [ngClass]="{'activeTab': activeTab === 2}" (click)="activeTab = 2">
        <span>Features</span>
      </div>
      <div class="col-3" [ngClass]="{'activeTab': activeTab === 3}" (click)="activeTab = 3">
        <span>Map</span>
      </div>
      <div class="col-3" [ngClass]="{'activeTab': activeTab === 4}" (click)="activeTab = 4">
        <span>Contact</span>
      </div>
    </div>
  </div>
  <div class="content-body">
    <div class="swiper-container" [swiper]="config" [(index)]="activeTab">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <app-home-card class="fade"></app-home-card>
        </div>
        <div class="swiper-slide">
          <app-home-photo [images]="images" (callShowGalerry)="callShowGalerry($event)" class="fade"></app-home-photo>
        </div>
        <div class="swiper-slide">
          <app-home-features class="fade"></app-home-features>
        </div>
        <div class="swiper-slide">
          <app-home-map class="fade"></app-home-map>
        </div>
        <div class="swiper-slide">
          <app-home-contact class="fade"></app-home-contact>
        </div>
      </div>
    </div>
    <div class="fixed-bottom">
      <div class="container-footer">
        <span (click)="activeTab = 'contact'">
          <img src="assets/images/ic_calendar.png">Schedule tour</span>
        <button class="float-right btn button-navigation rounded-circle" (click)="navigatonSection()">
          <i class="fa fa-angle-down"></i>
        </button>
      </div>
    </div>

  </div>
  <div class="gallery-container" [ngClass]="{'d-none': !isShowGallery}">
    <div class="clearfix">
      <button type="button" class="close text-white btn-close" aria-label="Close" (click)="isShowGallery = false;">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="gallery-slider-container" (swipeleft)="swipe($event.type)" (swiperight)="swipe($event.type)">
      <carousel [interval]="myInterval" class="gallery-slider" [(activeSlide)]="imageGalleryIndex">
        <slide *ngFor="let image of images">
          <img src={{image}} alt="Slide Image" style="display: block; width: 98%;">
        </slide>
      </carousel>
    </div>
  </div>
</div>