<div class="d-md-none">
  <div class="container">
    <!-- Content here -->
    <div class="header">
      <h3>
        425 Mapple
      </h3>
    </div>
  </div>
  <div class="tab-menu">
    <div class="tab-menu-item">
      <span>Photos</span>
    </div>
    <div class="tab-menu-item">
      <span>Features</span>
    </div>
    <div class="tab-menu-item">
      <span>Map</span>
    </div>
    <div class="tab-menu-item">
      <span>Contact</span>
    </div>
  </div>
  <carousel class="carousel-banner">
    <slide>
      <img src="assets/images/big_house.jpg" alt="First slide" style="display: block; width: 100%; height: 240px;">
    </slide>
    <slide>
      <img src="assets/images/one.jpg" alt="Second slide" style="display: block; width: 100%; height: 240px;">
    </slide>
    <slide>
      <img src="assets/images/two.jpg" alt="Third slide" style="display: block; width: 100%; height: 240px;">
    </slide>
    <slide>
      <img src="assets/images/three.jpg" alt="Third slide" style="display: block; width: 100%; height: 240px;">
    </slide>
    <slide>
      <img src="assets/images/four.jpg" alt="Third slide" style="display: block; width: 100%; height: 240px;">
    </slide>
    <slide>
      <img src="assets/images/five.jpg" alt="Third slide" style="display: block; width: 100%; height: 240px;">
    </slide>
    <slide>
      <img src="assets/images/six.jpg" alt="Third slide" style="display: block; width: 100%; height: 240px;">
    </slide>
  </carousel>
  <div class="content-wrapper">
    <div class="box-price">
      <h4>$699,999</h4>
    </div>
    <div class="box-info">
      <div class="box-info-address">
        <span>
          <img class="icon-map" src="assets/images/ic_new_location.png" />425 N Mapple Driver, New york NY 555555</span>

      </div>
      <div class="box-info-feature">
        <div class="container">
          <div class="row">
            <div class="col-3 item p-2">
              <img src="assets/images/ic_house.png" /> SINGLE FAM.
            </div>
            <div class="col-3 item p-2">
              <img src="assets/images/ic_bed.png" /> 3 BED
            </div>
            <div class="col-3 item p-2">
              <img src="assets/images/ic_bath.png" />
              <span>2 BATH</span>
            </div>
            <div class="col-3 item p-2">
              <img src="assets/images/ic_features_square.png" />
              <span> 2,276 SQ/FT</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box-description">
      <h4>Desctiption</h4>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
        book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
        unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
        more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </p>
      <h3>open house mon, Jun 12 at 3:00 PM</h3>
    </div>
  </div>
</div>