.container-app {
  padding-top: 60px;
  padding-bottom: 50px;
  .container-header {
    background-color: #eeeeee;
  }
}
.header {
  height: 60px;
  text-align: center;
  padding: 20px;
  color: #697098;
}
.tab-menu {
  display: flex;
  border-bottom: 1px gray solid;
  color: #697098;
  .tab-menu-item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Avenirheavy';
    margin-bottom: 5px;
  }
}
.container-footer {
  padding: 10px;
  padding-left: 20px;
  text-transform: uppercase;
  background-color: #eeeeee;
  height: 50px;
  img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }
}
